@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    background-color: #0f172a; /* Slate-900 */
    color: #f8fafc;      /* Slate-50 */
  }

  body {
    background-color: #0f172a;
  }
}